<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="collectionsBean" class="net.youzule.spring.chapter03.app04.CollectionsBean">
        <property name="list">
            <list>
                <value>aa</value>
                <value>bb</value>
                <value>cc</value>
            </list>
        </property>
        <property name="map">
            <map>
                <entry key="name" value="sean"></entry>
                <entry key="age" value="11"></entry>
            </map>
        </property>
        <property name="set">
            <set>
                <value>12</value>
                <value>ee</value>
                <value>gg</value>
            </set>
        </property>
        <property name="properties">
            <props>
                <prop key="name">sss</prop>
                <prop key="age">11</prop>
            </props>
        </property>
    </bean>
</beans>